<!DOCTYPE html>
<html lang="en">

<head>
  <title>Filter Orders</title>

  <!-- icon -->
  <link rel="icon" href="/images/logo.png" type="image/x-icon" />

  <!-- Source Sans Pro  300, 600, italic of each -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/filter-orders.css" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script type="text/javascript" src="/scripts/utilities.js"></script>
  <script type="text/javascript" src="/scripts/filter-orders.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div id="filter-orders-page">
      <div class="manage-part">
        <div class="m-title">
          <h2>Management-Tab</h2>
        </div>
        <div class="right-m-tab">
          <form id='filtering' action="/orders/filter-orders" method="POST">
            <div class="form-input">
              <div class="input-user">
                <label for="userId">Customer Id:</label>
                <input type="text" name="userId" id="userId" size="16.75" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                <br><br>
              </div>
              <div class="input-status">
                <label for="status">Status:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                <select name="status" id="status">
                  <option value="" selected disabled hidden>-------- any --------</option>
                  <% for (const option of status) { %>
                    <option value=<%= option.name %>><%= option.name %></option>
                  <% } %>
                </select>
                <br><br>
              </div>
              <div class="input-date">
                <label for="orderDate">Order date:&nbsp&nbsp</label>
                <input type="date" id="orderDate" name="orderDate">
              </div>
            </div>
          </form>
          <div class="form-submit">
            <button  type="submit" form="filtering" id="filter">
              <span class="front-filter">Submit</span>
            </button>
            <form id='reset-filtering'  action="/orders/filter-orders" method="POST">
              <input id="hid-ready-id" type="hidden" name="reset" value="0"/>
            </form>
            <button  type="submit" form="reset-filtering" id="reset">
              <span class="front-reset">Reset</span>
            </button>
          </div>
        </div>
      </div>
      <div class="orders-table">
        <h2>List of Orders</h2>
        <% if (options.userId || options.status || options.orderDate) {%>
          <h3> Selection:
            <% if (options.userId) { %>
              <span>&nbsp&nbspCustomer: <%= (options.userId) %>&nbsp&nbsp</span>
            <% } %>
            <% if (options.status) { %>
              <span>&nbsp&nbspStatus: <%= (options.status) %>&nbsp&nbsp</span>
            <% } %>
            <% if (options.orderDate) { %>
              <span>&nbsp&nbspDate: <%= (options.orderDate) %>&nbsp&nbsp</span>
            <% } %>
          </h3>
        <% } %>
        <div class="data-table">
          <div class="show-detail">
            <span>---------</span>
          </div>
          <div class="order-number">
            <span>Order Number</span>
          </div>
          <div class="date">
            <span>Date</span>
          </div>
          <div class="customer">
            <span>Customer Id - Name</span>
          </div>
          <div class="total">
            <span>Total</span>
          </div>
          <div class="status">
            <span>Status</span>
          </div>
        </div>
        <% for (const order of orders) { %>
          <div class="data-table">
            <div class="show-detail">
              <button class="order-details" name="select-order"  value="<%= order.order_id %>">Details</button>
            </div>
            <div class="order-number">
              <span><%= order.order_id %></span>
            </div>
            <div class="date">
              <span><%= order.date %></span>
            </div>
            <div class="customer">
              <span><%= order.customer_id %> - <%= order.customer_name %></span>
            </div>
            <div class="total">
              <span>$<%= order.total / 100 %></span>
            </div>
            <div class="status">
              <span><%= order.status %></span>
            </div>
          </div>
          <div id="detailContainer<%= order.order_id %>" class="detail-table">
          </div>
        <% } %>
      </div>
    </div>
  </main>
</body>
</html>
