<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- icon -->
  <link rel="icon" href="/images/logo.png" type="image/x-icon" />

  <!-- Source Sans Pro  300, 600, italic of each -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <script type="text/javascript" src="/scripts/app.js"></script>

  <script type="text/javascript" src="/scripts/utilities.js"></script>
  <script type="text/javascript" src="/scripts/cart-counter.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="categories">
      <% if (categories) { %>
        <% for (const category of categories) { %>
          <div class="category-row dropdown<%= category.id %>" name="<%= category.id %>">
            <span name="<%= category.id %>"><%= category.name %>&nbsp&nbsp</span>
            <snap class="cat-arrow cat-arrow-down"><i class="fa-solid fa-caret-down"></i></snap>
            <snap class="cat-arrow cat-arrow-up"><i class="fa-solid fa-caret-up"></i></snap>
          </div>
          <div class="menu-items">
            <% if (menuItems) { %>
              <% for (const x of categoryItems[category.id]) { %>
                <div class="food-item for-cookie-item dropdown-content<%=category.id%>" name="<%= menuItems[x].id %>">
                  <!-- <a href="http://localhost:8080/menu/<%= menuItems[x].id %>"> -->
                  <button name="click-item" class = "item-img single-item-modal" value="<%= menuItems[x].id %>"><img src="<%= menuItems[x].image_url %>" class="for-cookie-img"/></button>
                  <!-- </a> -->
                  <div class="item-info">
                    <div class="item-name">
                      <span class="for-cookie-name"><%= menuItems[x].name %></span>
                    </div>
                    <span class="item-price for-cookie-price" name="<%= menuItems[x].price %>">$ <%= menuItems[x].price / 100 %></span>
                    <div class="cart-addition">
                      <button class="minus-qty-item minus-plus"><i class="fa-solid fa-circle-minus"></i></button>
                      <output class="single-item-qty" class="counter button">0</output>
                      <button class="plus-qty-item minus-plus"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                    <button class="add-to-cart">
                      <span class="front-add-to-cart">add to cart</span>
                    </button>
                  </div>
                </div>
              <% } %>
            <% } %>
          </div>
        <% } %>
      <% } %>
    </div>
    <!-- Add div that contain modal (single item element) -->
    <div id="item-container" class="modal"></div>
  </main>
</body>
</html>
